<a href="https://colab.research.google.com/github/pra17dod/Sentiment-Analyzer/blob/model/model/Sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip /content/drive/Shareddrives/Hackathon/AMOC/sentiment140.zip -d /content/
!mv /content/'training.1600000.processed.noemoticon.csv' /content/dataset.csv

Archive:  /content/drive/Shareddrives/Hackathon/AMOC/sentiment140.zip
  inflating: /content/training.1600000.processed.noemoticon.csv

# Loading the Dataset, We use engine=python as loading was giving error ( not able to read large sentences )

In [ ]:
data=pd.read_csv("/content/dataset.csv", encoding = "ISO-8859-1", engine="python")

In [ ]:
data.tail(5)

         0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
1599994  4  ...  Just woke up. Having no school is the best fee...
1599995  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[5 rows x 6 columns]

In [ ]:


data.head(5)

   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  0  ...  is upset that he can't update his Facebook by ...
1  0  ...  @Kenichan I dived many times for the ball. Man...
2  0  ...    my whole body feels itchy and like its on fire
3  0  ...  @nationwideclass no, it's not behaving at all....
4  0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

# modifying data columns for better understanding

In [ ]:
data.columns = ["label", "time", "date", "query", "username", "text"]

In [ ]:
data

         label  ...                                               text
0            0  ...  is upset that he can't update his Facebook by ...
1            0  ...  @Kenichan I dived many times for the ball. Man...
2            0  ...    my whole body feels itchy and like its on fire
3            0  ...  @nationwideclass no, it's not behaving at all....
4            0  ...                      @Kwesidei not the whole crew
...        ...  ...                                                ...
1599994      4  ...  Just woke up. Having no school is the best fee...
1599995      4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996      4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997      4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998      4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 6 columns]

# Checking if values are null

In [ ]:
data.isnull().sum()

label       0
time        0
date        0
query       0
username    0
text        0
dtype: int64

# Only text and label should be used as conclusion

In [ ]:
data=data[['label','text']]

In [ ]:
data['text']=data['text'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# We use Nltk library for text analysis
Various procedures involved are :-

# i) Cleaning DATA

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

# Importing stop words from nltk

In [ ]:
data.label.value_counts()

4    800000
0    799999
Name: label, dtype: int64

# words used as stop words

In [ ]:
from nltk.corpus import stopwords
stopwords_list = stopwords.words('english')

FIRST 5 STOPWORDS

In [ ]:
stopwords_list[0:5]

['i', 'me', 'my', 'myself', 'we']

In [ ]:
data_pos = data[data['label'] == 4]
data_neg = data[data['label'] == 0]

In [ ]:
data_pos = data_pos.iloc[:int(40000)]
data_neg = data_neg.iloc[:int(40000)]

In [ ]:
data = pd.concat([data_pos, data_neg])

# Removing stopwords from dataset

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
data['text'] = data['text'].apply(lambda text: cleaning_stopwords(text))
data['text'].head()

799999                love @health4uandpets u guys r best!!
800000    im meeting one besties tonight! cant wait!! - ...
800001    @darealsunisakim thanks twitter add, sunisa! g...
800002    sick really cheap hurts much eat real food plu...
800003                      @lovesbrooklyn2 effect everyone
Name: text, dtype: object

# Cleaning and removing punctutions

In [ ]:
import string
english_punctuations = string.punctuation
punctuations_list = english_punctuations
punctuations_list[0:]

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def cleaning_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
data['text']= data['text'].apply(lambda x: cleaning_punctuations(x))
data['text'].tail()

39995    mittec problems literally spent 2 hours cleani...
39996                                              ow head
39997    anyway particularly looking foreward labs toda...
39998                     allergies insomnia matter reason
39999    scottcabal im working evening could daytime su...
Name: text, dtype: object

# Cleaning and removing URL's

In [ ]:
import re
def cleaning_URLs(data):
    return re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',str(data))
data['text'] = data['text'].apply(lambda x: cleaning_URLs(x))
data['text'].tail()

39995    mittec problems literally spent 2 hours cleani...
39996                                              ow head
39997    anyway particularly looking foreward labs toda...
39998                     allergies insomnia matter reason
39999    scottcabal im working evening could daytime su...
Name: text, dtype: object

# Removing Numeric characters

In [ ]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)
data['text'] = data['text'].apply(lambda x: cleaning_numbers(x))
data['text'].tail()

39995    mittec problems literally spent  hours cleanin...
39996                                              ow head
39997    anyway particularly looking foreward labs toda...
39998                     allergies insomnia matter reason
39999    scottcabal im working evening could daytime su...
Name: text, dtype: object

# ii) TOKENIZING 
Tokenization is the process of converting data into smaller sub parts for better analysis ( Eg: breaking words in sentence)

In [ ]:
from nltk.tokenize import RegexpTokenizer

In [ ]:
tokenizer = RegexpTokenizer(r'\w+')
data['text'] = data['text'].apply(tokenizer.tokenize)
data.head()

        label                                               text
799999      4           [love, healthuandpets, u, guys, r, best]
800000      4  [im, meeting, one, besties, tonight, cant, wai...
800001      4  [darealsunisakim, thanks, twitter, add, sunisa...
800002      4  [sick, really, cheap, hurts, much, eat, real, ...
800003      4                  [lovesbrooklyn, effect, everyone]

# iii) Applying Stemming
We reduce words to their root form

In [ ]:
from nltk.stem import PorterStemmer

In [ ]:
stemer = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [stemer.stem(word) for word in data]
    return data

data['text']= data['text'].apply(lambda x: stemming_on_text(x))

In [ ]:
data.head()

        label                                               text
799999      4           [love, healthuandpets, u, guys, r, best]
800000      4  [im, meeting, one, besties, tonight, cant, wai...
800001      4  [darealsunisakim, thanks, twitter, add, sunisa...
800002      4  [sick, really, cheap, hurts, much, eat, real, ...
800003      4                  [lovesbrooklyn, effect, everyone]

# iv) Applying Lemmatization
It is same as stemming but it also looks for dictionary relation while stemming is dependent on part of speech

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return data

data['text'] = data['text'].apply(lambda x: lemmatizer_on_text(x))

In [ ]:
data.head()

        label                                               text
799999      4           [love, healthuandpets, u, guys, r, best]
800000      4  [im, meeting, one, besties, tonight, cant, wai...
800001      4  [darealsunisakim, thanks, twitter, add, sunisa...
800002      4  [sick, really, cheap, hurts, much, eat, real, ...
800003      4                  [lovesbrooklyn, effect, everyone]

Now data cleaning is done

In [ ]:
input=data['text']
output=data['label']

In [ ]:
from tensorflow.keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [ ]:

max_len = 1000
tok = Tokenizer(num_words=2000)
tok.fit_on_texts(input)
sequences = tok.texts_to_sequences(input)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [ ]:
sequences_matrix.shape

(80000, 1000)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(sequences_matrix, output, test_size=0.3, random_state=2)

In [ ]:
def tensorflow_based_model(): #Defined tensorflow_based_model function for training tenforflow based model
    inputs = Input(name='inputs',shape=[max_len])#step1
    layer = Embedding(2000,50,input_length=max_len)(inputs) #step2
    layer = LSTM(64)(layer) #step3
    layer = Dense(256,name='FC1')(layer) #step4
    layer = Activation('relu')(layer) # step5
    layer = Dropout(0.5)(layer) # step6
    layer = Dense(1,name='out_layer')(layer) #step4 again but this time its giving only one output as because we need to classify the tweet as positive or negative
    layer = Activation('sigmoid')(layer) #step5 but this time activation function is sigmoid for only one output.
    model = Model(inputs=inputs,outputs=layer) #here we are getting the final output value in the model for classification
    return model #function returning the value when we call it

In [ ]:
model = tensorflow_based_model() # here we are calling the function of created model
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [ ]:
history=model.fit(X_train,Y_train,batch_size=80,epochs=6, validation_split=0.1)# here we are starting the training of model by feeding the training data
print('Training finished !!')

In [ ]:
accr1 = model.evaluate(X_test,Y_test) #we are starting to test the model here

750/750 [==============================] - 89s 117ms/step - loss: 0.6969 - accuracy: 0.3810